body{
    background-color: #2b2626;
    font-family: 'Dancing Script', cursive;
}
head{
    font-family: 'Dancing Script', cursive;
}
article{
    padding-left: 200px;
}
nav,img{
    width: 250px;
    height: 353px;
}
